@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --main-color: #243C69;
    --secondary-bg-color: #FAFAFA;
    --text-color: #222222;
    --red-color: #C71F41;
    --green-color: #058669;
    --border-color: #DDDDDD;
    --table-second-color: #FBFBFB;
}

.kite-loader {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    z-index: 999;
}

.kite-loader:before {
    display: block;
    content: '';
    border: 5px solid var(--border-color);
    border-radius: 50%;
    border-top: 5px solid var(--main-color);
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.kite-main {
    padding-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: var(--text-color);
}

.kite-container {
    max-width: 100%;
    margin: 0 60px;
}

.kite-header {
    padding: 25px 0 35px;
    background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(235,243,244,1) 100%);
}

.kite-header__wrapper {
    display: flex;
    align-items: center;
}

.kite-header__logo {
    width: 100%;
    max-width: 25%;
}

.kite-header__logo img {
    max-width: 165px;
}

.kite-header__content {
    flex: 1;
    text-align: center;
}

.kite-header__content-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: var(--main-color);
}

.kite-header__filter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: 25%;
}

.kite-header__filter-label {
    margin-right: 10px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

select.kite-header__filter-input {
    min-width: 225px;
    max-width: 225px;
    height: 24px;
    font-size: 13px;
    font-weight: 400;
    color: var(--main-color);
    border-radius: 3px;
    background: #fff url('/pt/kite-pharma/img/icon-arrow-down.svg') right 10px center;
    background-size: 10px;
    background-repeat: no-repeat;
}

.kite-row {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    gap: 14px;
}

.kite-column__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 3px 3px 0 0;
    background: var(--main-color);
}

.kite-column__header-icon {
    display: block;
    height: 25px;
    max-height: 25px;
    margin-right: 8px;
}

.kite-column__header-title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color: #fff;
}

.kite-column__card {
    min-height: 70px;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid rgba(34, 34, 34, 0.2);
}

.kite-column__card:last-child {
    margin-bottom: 0;
}

.kite-column__card--text-left {
    text-align: left;
}

.kite-column__card-value {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: var(--main-color);
}

.kite-column__card-value.--is-unavailable {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.kite-column__card-list {
    margin-top: 10px;
    margin-bottom: 15px;
}

.kite-column__card-list:first-child {
    margin-top: 5px;
}

.kite-column__card-list:last-child {
    margin-bottom: 0;
}

.kite-column__card-list-item {
    margin-bottom: 5px;
    padding-left: 8px;
    line-height: 16px;
}

.kite-column__card-list-item:last-child {
    margin-bottom: 0;
}

.kite-column__card-list-item:before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50px;
    background: var(--text-color);
}

.kite-column__card-list-item--red {
    color: var(--red-color)
}

.kite-column__card-list-item--red:before {
    background: var(--red-color)
}

.kite-column__card-list-item--green {
    color: var(--green-color)
}

.kite-column__card-list-item--green:before {
    background: var(--green-color)
}

.kite-column__card-table {
    margin-bottom: 15px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.kite-column__card-table:last-child {
    margin-bottom: 0;
}

.kite-column__card-table .kite-column__card-table-column--heading {
    font-weight: 700;
}

/* Striped table styling */
.kite-column__card-table--striped {
    border: 1px solid var(--border-color);
    border-radius: 3px;
    border-collapse: separate;
    overflow: hidden;
}

.kite-column__card-table--striped .kite-column__card-table-header .kite-column__card-table-column {
    border-bottom: 1px solid var(--border-color);
}

.kite-column__card-table--striped tr:nth-child(odd) {
    background: var(--table-second-color);
}

.kite-column__card-table--striped .kite-column__card-table-column {
    padding: 8px 10px;
}

.kite-column__card-table--striped tr:nth-child(n+6) {
    display: none;
}
/* End */

/* Single table styling */
.kite-column__card-table--single {
    border: 1px solid var(--border-color);
    border-radius: 3px;
    border-collapse: separate;
    overflow: hidden;
    padding: 5px 10px;
}

.kite-column__card-table--single .kite-column__card-table-header .kite-column__card-table-column {
    padding-bottom: 5px;
}

.kite-column__card-table--single .kite-column__card-table-column {
    line-height: 18px;
}
/* End */

/* Small table styling */
.kite-column__card-table--small .kite-column__card-table-column {
    width: 75%;
    vertical-align: middle;
    line-height: 18px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.kite-column__card-table--small .kite-column__card-table-column--heading {
    width: 100%;
    padding: 0 0 8px 0;
    font-weight: 400;
    line-height: 14px;
    border: none;
}

.kite-column__card-table--small tr:nth-child(2) .kite-column__card-table-column {
    border-top: none;
} 

.kite-column__card-table--small tr:last-child .kite-column__card-table-column {
    border-bottom: none;
}
/* End */

.kite-column__card-table-header {
    background: none !important;
}

.kite-column__card-table-column--value {
    font-weight: 700;
    color: var(--main-color);
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}